{% extends "base.html" %}
{% load static %}

{% block explain_contents %}

  <div class="wrapper" style="text-align: left;">
    <center><h1>회원가입</h1></center>
    <form method="POST">
        {% csrf_token %}
         <b>ID:</b>
        <input name="username" placeholder="Enter id" type="text">
         <br>
          <b>이름:</b>
        <input name="first_name" placeholder="Enter name" type="text">
        <br>
           <b>비밀번호:</b>
        <input name="password1" placeholder="Enter Password" type="password">
        <br>
          <b>비밀번호 확인:</b>
        <input name="password2" placeholder="repeat Password" type="password">
        <br>
           <b>이메일:</b>
        <input name="email" placeholder="enter email" type="email">
        <br><br>
       <center> <input type="submit" class="btn btn-primary" value="Sign Up"></center>
    </form>
</div>
<br>
<style>
    * {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
{% endblock explain_contents %}
