{% extends "base.html" %}
{% load static %}

{% block explain_contents %}
<html lang="ko">
<body>
  <div class="container">
    <div class="container p-1 my-2 border">
    <h4>제목:{{ study_board.title }}</h4>
      </div>
<div class="container p-1 my-2 border text-right">
    <p>작성일:  {{ study_board.date }}</p>
  </div>
      <br>
  <h5 style="text-align: right;" >게시글내용</h5>
      <div class="container p-5 my-5 bg-dark text-white">
  <p style="font-size: 23px;">"{{ study_board.content }}"</p>
</div>

{% endblock explain_contents %}